<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <link rel="icon" href="{{ '/assets/images/icons/favicon.svg' | url }}" type="image/svg+xml" sizes="any">
  <title>{{ title }} | E Tolemariam </title>

  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css">
  <script src="{{ '/js/consistent-theme.js' | url }}"></script>
</head>

<body>
  {% include "nav.njk" %}
  {% include "footer.njk" %}
  <main class="container inter-regular">
    <div class="hero-container">
        <header class="mainpost-header top-head">
            <h1 class="zero-margin inter">{{ title }}</h1>
            {% if date %}
            <div class="post-author open-sans">
                <time>{{ date | numericDate }}</time>
                <a>{{ author }}</a>
            </div>
            {% endif %}
        </header>
    </div>
    {{ content | safe }}
  </main>
  <script src="{{ '/js/toggle-theme.js' | url }}"></script>
</body>

</html>
