<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=block">
  <link rel="icon" href="{{ '/assets/images/icons/pfp.png' | url }}" type="image/svg+xml" sizes="any">
  <title>{{ title }} | E Tolemariam </title>
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css">
  <script src="{{ '/js/consistent-theme.js' | url }}"></script>
</head>

<body>
  {% include "nav.njk" %}
  {% include "footer.njk" %}
  <main class="container inter-regular geist-regular">
    <div class="hero-container">
        <header class="mainpost-header top-head">
            <h1 class="zero-margin upper-text">{{ title }}</h1>
            {% if description %}
            <div class="post-desc home-content mute">{{ description }}</div>
            {% endif %}
            <div class="post-author">
                {% if date %}
                <time>{{ date | numericDate }}</time>
                {% endif %}
                {% if code %}
                    <a href={{code}} class="casual-btn upper-text">Code</a>
                {% endif %}
            </div>
        </header>
    </div>

    {{ content | safe }}
  </main>
  <script src="{{ '/js/toggle-theme.js' | url }}"></script>
</body>

</html>
