<footer class="footer geist-regular">
  <div class="footer-links">
    <a href="https://github.com/estiftole" class="btn lr-borders">GITHUB </a>
    <a href="https://etolemariam.substack.com/" class="btn lr-borders">SUBSTACK </a>
  </div>
</footer>
