<nav class="site-nav">
  <div class="links open-sans">
    <a href="{{ '/' | url }}" class="btn lr-borders">HOME </a>
    <a class="perma-highlight lr-borders">E TOLEMARIAM</a>
    <!--<a href="{{ '/posts/about' | url }}" class="btn">ABOUT </a>-->
    <button id="theme-toggle" class="btn lr-borders" type="button" aria-label="Toggle dark/light mode">DARK</button>
  </div>
</nav>
