<nav class="site-nav">
  <div class="links open-sans">
    <a href="{{ '/' | url }}" class="btn">HOME </a>
    <a href="{{ '/posts/' | url }}" class="btn">POSTS </a>
    <a href="{{ '/posts/about' | url }}" class="btn">ABOUT </a>
    <button id="theme-toggle" class="btn" type="button" aria-label="Toggle dark/light mode">DARK</button>
  </div>
</nav>
