<nav class="site-nav geist-regular">
  <div class="links">
    <a href="{{ '/' | url }}" class="btn lr-borders upper-text">Home</a>
    <a class="perma-highlight lr-borders upper-text">E Tolemariam</a>
    <button id="theme-toggle" class="btn lr-borders" type="button" aria-label="Toggle dark/light mode">DARK</button>
  </div>
</nav>
