a {
  height: auto;
  text-decoration: none;
  color: inherit;
}

.brand {
  display: flex;
  align-items: center;
  font-size: 25px;
}

.post-header {
  padding-bottom: 5px;
}

.post h1,
.post h2,
.post h3 {
  font-weight: 500;
}

strong {
    font-weight: 700;
    /*color: pink;*/
}
