---
layout: base.njk
title: "Projects and Write-ups"
description: Things I've been working on.
---

<section class="posts-section open-sans">
    <!--<div class="home-content open-sans"></div>-->
    <div class="post-grid open-sans">
        {% for post in (collections.posts | reverse)%}
        <div class="card-parent">
            {% if post.data.banner %}
              {% if post.data.banner.endsWith('.mp4') %}
                <video class="vid-banner" autoplay loop muted playsinline width="100%">
                  <source src="{{ post.data.banner | url }}">
                  Your browser does not support video playback.
                </video>
              {% else %}
                <img src="{{ post.data.banner | url }}" class="banner" alt="c-swm simplified">
              {% endif %}
            {% endif %}
      <article class="post-card">
            <h3 class="zero-margin casual-btn upper-text"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
            <p class="zero-margin post-by">
                <time>{{ post.date | numericDate }}</time>
            </p>
            <div class="post-info">
                {% if post.data.description %}
                    <p class="zero-margin post-desc mute">{{ post.data.description }}</p>
                {% else %}
                    <p class="zero-margin post-desc mute">{{ post.data.title }}</p>
                {% endif %}
                <div class="card-cta">
                    <p class="zero-margin post-link"><a href="{{ post.url | url }}" class="casual-btn upper-text">Read More</a></p>
                    {% if post.data.code %}
                    <p class="zero-margin post-link"><a href="{{ post.data.code }}" class="casual-btn upper-text">Code</a></p>
                    {% endif %}
                </div>
            </div>
      </article>
      </div>
      {% endfor %}
  </div>
</section>
