---
layout: base.njk
title: "Home"
---
<div class="hero-container">
<section class="hero top-head">

    <h1 class="header zero-margin inter">
        Write-ups on interesting machine learning papers
    </h1>
    <div class="cta-section open-sans">
        <a href="{{ '/posts/' | url }}" class="zero-margin btn">ALL POSTS </a>
        <a href="{{ '/posts/about/' | url }}" class="zero-margin btn">ABOUT THIS SITE </a>
    </div>
</section>
</div>

<p class="zero-margin subheader inter">LATEST POSTS</p>
<section class="posts-section open-sans">
  <div class="post-grid">
      {% for post in (collections.posts | reverse).slice(0, 3) %}
        <article class="post-card">
            <h3 class="zero-margin"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>

            <p class="zero-margin post-by">
                <time>{{ post.date | numericDate }}</time>
                <a>{{ post.data.author }}</a>
            </p>


            <div class="post-info">
                <p class="zero-margin post-desc">{{ post.data.description }}</p>
                <p class="zero-margin post-link"><a href="{{ post.url | url }}" class="btn">READ POST </a></p>
            </div>
        </article>
      {% endfor %}
  </div>
</section>
