---
layout: base.njk
title: "Projects and Write-ups"
---

<section class="posts-section">
  <div class="post-grid open-sans">
      {% for post in (collections.posts | reverse)%}
      <article class="post-card">
          <h3 class="zero-margin casual-btn"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>

          <p class="zero-margin post-by">
              <time>{{ post.date | numericDate }}</time>
          </p>

          <div class="post-info">
              {% if post.data.description %}
              <p class="zero-margin post-desc">{{ post.data.description }}</p>
              {% else %}
              <p class="zero-margin post-desc">{{ post.data.title }}</p>
              {% endif %}
              <div class="card-cta">
              <p class="zero-margin post-link"><a href="{{ post.url | url }}" class="casual-btn">READ POST</a></p>
              {% if post.data.code %}
              <p class="zero-margin post-link"><a href="{{ post.code }}" class="casual-btn">CODE</a></p>
              {% endif %}
              </div>
          </div>
      </article>
      {% endfor %}
  </div>
</section>
